@media ( min-width: 992px )
  .navbar-menu__item
    &:hover
      color: darken($light, 25)
  .feed__text
    &:hover
      color: darken($light, 25)
  .button
    &:hover
      background-color: lighten($button-color, 5)
  .article-cars__title
    &:hover
      text-decoration: underline
  .article-design__title
    &:hover
      text-decoration: underline
  .article-cats__title
    &:hover
      text-decoration: underline
  .popular-article__title
    &:hover
      text-decoration: underline
  .columns
    &-item
      &__title
        &:hover
          text-decoration: underline
    &-button
      &:hover
        background-color: lighten(#6E99AE, 5)
  .feature-articles__item-title
    &:hover
      text-decoration: underline
  .recommended-sidebar
    &__item-descr
      &:hover
        text-decoration: underline
    &__button
      &:hover
        background-color: darken($light, 10)
  .facebook-icon
    &:hover
      fill: lighten(#4267B2, 10)
  .twitter-icon
    &:hover
      fill: lighten(#1DA1F2, 10)
  .youtube-icon
    &:hover
      fill: lighten(#FF0000, 10)
  .instagram-icon
    &:hover
      fill: lighten(#262626, 10)
  .footer-menu__list-title
    &:hover
      color: lighten($text-color, 20)
  .footer-menu__item
    &:hover
      color: lighten($text-color, 20)
  .footer-contacts__item
    &:hover
      color: lighten($text-color, 20)
