@media ( min-width: 992px )
  .navbar-menu__item
    &:hover
      color: darken($light, 25)
  .feed__text
    &:hover
      color: darken($light, 25)
  .button
    &:hover
      background-color: lighten($button-color, 5)
  .article-cars__title
    &:hover
      text-decoration: underline
  .article-design__title
    &:hover
      text-decoration: underline
  .article-cats__title
    &:hover
      text-decoration: underline
  .popular-article__title
    &:hover
      text-decoration: underline
  .columns
    &-item
      &__title
        &:hover
          text-decoration: underline
    &-button
      &:hover
        background-color: lighten(#6E99AE, 5)
