@media ( max-width: 1200px )
  .article-navigation
    position: absolute
    right: 0
  .article-author
    &__following
      min-width: 263px
  .article-slider
    &__author
      padding: 12px 15px
    &__descr
      padding: 0 15px

//Адаптив для средних экранов
@media ( max-width: 992px )
  .content-container
    margin-left: 40px
  .article-head
    &__bookmark
      top: 0
    &__title
      font-size: 30px
      line-height: 40px
    &__descr
      font-size: 16px
      line-height: 25px
  .article-top
    &-wrapper
      flex-direction: column
  .article-author
    margin: 30px 0 0 0
    align-self: center
  .article-slider
    padding-top: 30px
    &__sliders
      height: 400px
    &__descr
      font-size: 12px
      line-height: 15px
    &__author
      padding: 5px 15px
      &-name
        font-size: 12px
        line-height: 15px
      &-position
        font-size: 10px
    &__button
      &-icon
        width: 40px
        height: 40px
      &-prev
        left: 20px
      &-next
        right: 20px

//Адаптив под смартфоны
@media ( max-width: 767px )
  .article-head
    padding: 43px 0 40px 0
  .article-top
    padding-top: 40px
    &__content
      padding-right: 40px
      font-size: 16px
      line-height: 30px
    &--big-letter
      font-size: 90px
      line-height: 90px

//Адаптив для меленьких экранов
@media ( max-width: 575px )
  .content-container
    margin-left: 0
  .article-head
    &__bookmark
      top: 20px
  .article-top
    &__content
      padding-right: 0
    &__text
      margin-bottom: 20px
  .article-slider 
    &__button
      &-prev
        display: none
      &-next
        display: none
    &__sliders
      height: 300px
      
//Для самых маленьких
@media ( max-width: 480px )
  .article-head
    &__bookmark
      top: 65px
    &-wrapper
      flex-direction: column
    &__descr
      margin-bottom: 40px
    &-bottom
      flex-wrap: wrap
    &__share
      margin-top: 20px
  .article-navigation
    position: relative
    order: -1
    padding-left: 0
    margin-bottom: 20px
  .article-slider
    &-bottom
      flex-direction: column
    &__author
      border-left: none
      border-top: 1px solid $line-color
      align-self: stretch
      &-avatar
        width: 35px
        height: 35px
    &__descr
      padding: 7px 12px
