@media ( max-width: 1200px )
  .container
    max-width: 940px
  .navbar
    &-descr
      &__image
        margin: 0
      &__text
        margin: 0
        max-width: 150px
  .logo
    &__image
      margin-right: auto
      margin-left: auto
  .feed
    padding: 10px 0 30px 0
    &-wrapper
      padding: 20px 20px 25px 20px
      overflow-x: scroll
      width: 100%
    &__item
      flex-shrink: 0
      &:last-child
        padding-right: 20px
      &::after
        margin-right: 25px
    &__text
      font-size: 14px
  .recommended
    flex-basis: 30%

//Адаптив для средних экранов
@media ( max-width: 992px )
  .container
    max-width: 740px
  .navbar
    &-descr
      &__image
        margin: 0
        width: 80px
      &__text
        margin: 0
        max-width: 130px
    &-menu
      font-size: 12px
  .login
    padding-left: 20px
  .logo
    &__image
      margin-right: auto
      margin-left: auto
  .date
    padding-right: 25px
  .feed
    padding: 0 0 20px 0
    &-wrapper
      padding: 10px 20px
      overflow-x: scroll
      width: 100%
    &__item
      flex-shrink: 0
      &:first-child
        margin-left: 0
      &:last-child
        padding-right: 20px
    &__text
      font-size: 13px
      line-height: 20px
    &__image
      width: 50px
      height: 50px
  .article
    padding: 40px 0 80px 40px
  .main-article
    &__author
      margin-bottom: 90px
  .recommended
    flex-basis: 30%
    &-item
      padding: 10px 15px
      &__descr
        font-size: 12px
    &-title
      padding: 10px 15px
      font-size: 12px

//Адаптив под смартфоны
@media ( max-width: 767px )
  .container
    width: 95%
  .sections
    padding-right: 15px
    &__text
      display: none
  .subscribe-now
    display: none
  .logo
    &__image
      width: 150px
      margin-right: 140px
  .weather
    justify-content: flex-end
    flex-basis: 30%
    font-size: 10px
    border-top: 1px solid $line-color
    &__temp
      margin-left: 5px
  .date
    flex-basis: 70%
    font-size: 10px
    border-top: 1px solid $line-color
  .navbar
    position: fixed
    z-index: 100
    width: 100%
    &-top
      min-height: 40px
    &-descr
      &__text
        font-size: 12px
        line-height: 15px
        max-width: 60px
      &__image
        height: 60px
    &-middle
      flex-wrap: wrap
    &-bottom
      display: none
  .feed
    padding-top: 141px
  .article
    padding: 20px 30px 50px 30px
  .main-article
    &__author
      margin-bottom: 40px
    &__title
      margin-top: 5px
      margin-bottom: 20px
      font-size: 30px
      line-height: 40px
    &__interface
      flex-wrap: wrap
  .play
    margin-top: 20px
    flex-basis: 100%
    &__button
      margin-left: 0
  .recommended
    overflow-y: scroll
    max-height: 385px
    &-title
      line-height: 15px
    &-item

//Адаптив для меленьких экранов
@media ( max-width: 575px )
  .login
    padding: 0 
    flex-shrink: 0
    &__text
      font-size: 12px
  .navbar
    &-descr
      &__image
        height: 40px
        width: 40px
      &__text
        display: none
    &__search
      padding-left: 15px
      &-input
        font-size: 12px
  .logo__image
    width: 100px
    margin-right: 40px
  .feed
    padding-top: 121px
  .main-article
    &-wrapper
      flex-direction: column
  .recommended
    display: flex
    &-title
      border-right: 1px solid $line-color
    &-item
      flex-shrink: 0
      border: none
      flex-basis: 200px
      &:not(:last-child)
        border-right: 1px solid $line-color


